.navbar(style="display:none", data-ng-show="identity && identity.roles && identity.roles.indexOf('admin')>=0")
  .navbar-inner
    .container-fluid
      a.brand(href="#")
        small
          i.icon-leaf
          |  PPW Games
      include ../includes/top-menu
section.content.main-container.container-fluid(style="display:none", data-ng-show="identity.roles.indexOf('admin')>=0")
  a(href="#").menu-toggler#menu-toggler
    span.menu-text
  div#sidebar.sidebar
    div#sidebar-shortcuts.sidebar-shortcuts
    ul.nav.nav-list
      li.active
        a(href="/#!/")
          i.icon-dashboard
          span.menu-text
            |  Dashboard 
      li
        a(href="/#!/lobby")
          i.icon-list
          span.menu-text
            |  Lobby 
      li
        a(href="/#!/bots")
          i.icon-Bot
          span.menu-text
            |  Bots 
      li
        a(href="/#!/avatars")
          i.icon-pinterest
          span.menu-text
            |  Avatars 
    div#sidebar-collapse.sidebar-collapse
      i.icon-double-angle-left         
  section.main-content
    section(data-ng-view)
