.DS_Store
.nodemonignore
.sass-cache/
node_modules/*
!node_modules/hersexecutable
!node_modules/hersdata
!node_modules/hersdb
!node_modules/herstimeout
!node_modules/realm_site
!node_modules/vector
test/coverage/
