<div id="breadcrumbs" class="breadcrumbs">
<ul class="breadcrumb">
	<li>
		<i class="icon-home home-icon"></i>
		<a href="/">Home</a>
		<span class="divider">
			<i class="icon-angle-right arrow-icon"></i>
		</span>
	</li>
		<li class="active">Lobby</li>
</ul>
	<div id="nav-search" class="nav-search"></div>
</div>
<div class="page-content">
	<div class="page-header position-relative">
						<h1>
							Lobby
							<small>
								<i class="icon-double-angle-right"></i>
								Active rooms overview.
							</small>
						</h1>
	</div>
<section data-ng-controller='LobbyController'>


    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab">
        <li data-ng-repeat="(klass,data) in lobby" data-ng-class={active:klass=='Poker'}>
          <a data-toggle="tab" href="#{{klass}}">
            <i class="white icon-{{klass}} bigger-110"></i>
            {{klass}}
          </a>
        </li>

      </ul>

      <div class="tab-content">
        <div id="Poker" class="tab-pane in active">
          <table id="Pokerlobby" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="center">Name</th>
                <th class="center">Flavor</th>
                <th class="center">Stakes</th>
                <th class="center">Players</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat='(roomname,room) in lobby.Poker'>
                <td>{{room.name}}</td>
                <td class="center">{{room.flavor}}</td>
                <td class="center">{{room.ante}} {{room.bigblind/2}}/{{room.bigblind}}</td>
                <td class="center">{{room.playing}}/{{room.capacity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="Slot" class="tab-pane in">
          <table id="Slotlobby" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="center">Name</th>
                <th class="center">Instance</th>
                <th class="center">Template</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat='(roomname,room) in lobby.Slot' data-ng-show="room.name.caption">
                <td>{{room.name.caption}}</td>
                <td class="center">{{room.name.name}}</td>
                <td class="center">{{room.templatename}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
</section>
</div>
