<div id="breadcrumbs" class="breadcrumbs">
<ul class="breadcrumb">
	<li>
		<i class="icon-home home-icon"></i>
		<a href="/">Home</a>
		<span class="divider">
			<i class="icon-angle-right arrow-icon"></i>
		</span>
	</li>
		<li class="active">Lobby</li>
</ul>
	<div id="nav-search" class="nav-search"></div>
</div>
<div class="page-content">
	<div class="page-header position-relative">
						<h1>
							Lobby
							<small>
								<i class="icon-double-angle-right"></i>
								Active rooms overview.
							</small>
						</h1>
	</div>
<section data-ng-controller='LobbyController'>


    <div class="tabbable">
      <ul class="nav nav-tabs" id="myTab">
        <li data-ng-repeat="(klass,data) in lobby" data-ng-class={active:klass=='Poker'}>
          <a data-toggle="tab" href="#{{klass}}">
            <i class="green icon-{{klass}} bigger-110"></i>
            {{klass}}
          </a>
        </li>

      </ul>

      <div class="tab-content">
        <div id="{{klass}}" class="tab-pane in" data-ng-repeat="(klass,data) in lobby" data-ng-class={active:klass=='Poker'}>
          <table id="lobby" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th class="center">Name</th>
                <th class="center">Flavor</th>
                <th class="center">Stakes</th>
                <th class="center">Players</th>
              </tr>
            </thead>

            <tbody>
              <tr data-ng-repeat='room in data'>
                <td>{{room.name}}</td>
                <td>{{room.flavor}}</td>
                <td>{{room.ante}} {{room.bigblind/2}}/{{room.bigblind}}</td>
                <td class="center">{{room.playing}}/{{room.capacity}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>



<!--
<table>
<tr>
<th>Name</th><th>Players</th>
</tr>
<tr data-ng-repeat='(name,data) in rooms'>
<td>{{name}}</td>
<td>{{data.playing}}/{{data.capacity}}</td>
</tr>
</table>
-->
</section>
</div>
