<script>
	jQuery().ready(function () {
	});
</script>
<div class="fullview group">
	<div class="avatar-holder"><img alt="avatar name" src="/img/avatars/{{follower.scalars.avatar}}" /></div> 	
			<span class="left featured">{{identity.name}}: {{follower.scalars.balance}}</span>
</div>
<div class="shortview group" style="display:none;">
	<span class="left"><i class="icon-user"></i> {{identity.name}}: {{follower.scalars.balance}}</span>
	<span class="right"><a href="#" class="icobut"><i class="icon-gear"></i></a> <a href="#" class="icobut"><i class="icon-signout"></i></a> <a href="#" class="icobut"><i class="icon-usd"></i></a></span>
</div>	
