<div class="room-stream">
  <div class="itemdiv commentdiv {{item.klass}}" data-ng-repeat='item in lobby.Slot.preview.events'>
    <div class="user" ng-switch="item.hasplayer">
      <img ng-switch-when='true'  src='{{item.avatar}}' />
    </div>
    <div class="body">
      <div class="name" ng-switch="item.hasplayer">
        <a href='#' ng-switch-when='true'>{{item.player}}</a>
      </div>
      <a class='eventcode' href='javascript:void()' tooltip="{{item.code}}"><i class={{item.codeicon}}></i></a>
      <span ng-switch='item.hasamount'>
        <span ng-switch-when='true'>
          <span class='money' style="color:{{slotDeltaColor(item.amount)}}">{{item.amount}}%</span>
        </span>
      </span>
    </div>
  </div>                         	
  <script>
    $('.room-stream').slimScroll({
      height: '350px'
    });
  </script>
</div>

