.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
.menu-min .sidebar-shortcuts-large {
	width:176px;
	}
	
.ngViewport {
	min-height:500px;
	}	
	
<<<<<<< HEAD
=======
	.ngViewport.ng-scope{
      height: auto !important;
          overflow-y: hidden;
}

.ngTopPanel.ng-scope, .ngHeaderContainer{
      width: auto !important;
}
div.gridStyle {
	border:1px solid #DDDDDD;
	}
div.ngHeaderText {
	color:#555555;
	}
div.ngHeaderCell {
	color:#707070;
	font-weight:normal;
	background:#f2f2f2;
	background-color:#f3f3f3;
	background-image:-moz-linear-gradient(top,#f8f8f8,#ececec);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#ececec));
	background-image:-webkit-linear-gradient(top,#f8f8f8,#ececec);
	background-image:-o-linear-gradient(top,#f8f8f8,#ececec);
	background-image:linear-gradient(to bottom,#f8f8f8,#ececec);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffececec',GradientType=0)}
div.ngHeaderCell{border-color:#DDD;font-weight:bold}

div.swarm-cg {
	padding-top:6px;
	}	
>>>>>>> 926ccfb5e519d071d340f488680f4101dba79bee
