
<div id="modal-form" class="modal hide" tabindex="-1">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="blue bigger">Please fill the following form fields</h4>
	</div>


	<div class="modal-body overflow-visible">
		<div class="row-fluid">


<form ng-show="setup.editable" name="botform">
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="username" name="username" data-ng-model="bot.username" required></input>
    </div>
    <label class="control-label" for="avatar">Avatar</label>
    <div class="controls">
        <select-avatar av-mdel="bot.avatar" av-size="80px"></select-avatar>
    </div>
  </div>
</form>


		</div>
	</div>

	<div class="modal-footer">


    <div class="controls">
      <button data-ng-click="setup.editable=false" class="btn btn-small" data-dismiss="modal"><i class="icon-remove"></i>Cancel</button>
      <button type="submit" class="btn btn-small btn-primary" data-ng-click="save()" data-dismiss="modal"><i class="icon-ok"></i>Save</button>
    </div>


	</div>
</div><!--PAGE CONTENT ENDS-->
