<form ng-show="editable" name="botform">
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" id="username" name="name" data-ng-model="bot.name" required></input>
    </div>
    <label class="control-label" for="avatar">Avatar</label>
    <div class="controls">
        <select-avatar av-mdel="bot.avatar" av-size="80px"></select-avatar>
    </div>
    <div class="controls">
      <button data-ng-click="editable=false" class="btn">Cancel</button>
    </div>
    <div class="controls">
      <button type="submit" class="btn" data-ng-click="save()">Save</button>
    </div>
  </div>
</form>
