doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include includes/head-b3
  style.
    .spinner{
      height:80%;
      background-color:rgba(0,0,0,0);
      border: 0;
      -webkit-box-shadow:0 0 0;
      -moz-box-shadow:0 0 0;
    }
  body.login-layout
    div(id='viewporter')
      div(id='checker-bl', data-ng-controller='CasinoController')
        spinner.modal.spinner.center#spinner(data-ng-show='loading')
        canvas(id='casino', width='634', height='470')
      div(id='checker-tr')
        button.toogle.btn.btn-primary(id='tooglebut', type='button')
          span.glyphicon.glyphicon-align-justify
        div(id='side-content')
          div.side-loby
            div.sl-room.group
              div.slr-left.left
                span.indicate
                |  3
              div.slr-right.left
                div.slrr-top
                  |  Vegas 1
                  span.steck.right
                  span.speed.right
                div.slrr-bottom
                  |  Alex Murgo just bet 50
      script(type="text/javascript").
       window.user = !{user};
    include includes/foot-b3
    script(type='text/javascript', src='/lib/fabric.js/dist/all.js')
    script(type='text/javascript', src='/lib/casino/casinocontroller.js')
    script(type='text/javascript', src='/lib/casino/casinorender.js')
    script(type='text/javascript', src='/lib/casino/roomrender.js')
    script(type='text/javascript', src='/lib/casino/slotroomrenderer.js')
