doctype html
html(lang='en', manifest='webapp1.manifest', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include includes/head-b3
  style.
    .spinner{
      height:80%;
      background-color:rgba(0,0,0,0);
      border: 0;
      -webkit-box-shadow:0 0 0;
      -moz-box-shadow:0 0 0;
    }
  body.login-layout(data-ng-controller='CasinoController', data-ng-class="{logged_out:!identity.name}")
    div#loginwidget(data-ng-hide='identity.name', data-ng-class="{logged_out:!identity.name}", data-ng-include='"/views/login.html"')
    include includes/playmarkup
      script(type="text/javascript").
       window.user = !{user};
    include includes/foot-b3
    script(type='text/javascript', src='/lib/casino/casinocontroller.js')
    script(type='text/javascript', src='/lib/casino/casinorender.js')
    script(type='text/javascript', src='/lib/casino/pokerevents.js')
    script(type='text/javascript', src='/lib/casino/poker_hand_history.js')
    script(type='text/javascript', src='/lib/casino/roomrender.js')
    script(type='text/javascript', src='/lib/casino/slotroomrenderer.js')
    script(type='text/javascript', src='/js/controllers/avatars.js')
