doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include includes/head-b3
  style.
    .spinner{
      height:80%;
      background-color:rgba(0,0,0,0);
      border: 0;
      -webkit-box-shadow:0 0 0;
      -moz-box-shadow:0 0 0;
    }
  body.login-layout
    div(id='viewporter', data-ng-controller='CasinoController')
      div(id='checker-bl')
        spinner.modal.spinner.center#spinner(data-ng-show='loading')
        canvas(id='casino', width='634', height='470')
      div(id='checker-tr')
        button.toogle.btn.btn-primary(id='tooglebut', type='button')
          span.glyphicon.glyphicon-align-justify
        div.group(id='side-head' ng-include='"/views/player.html"')
        div(id='side-content' ng-include='"/views/engagements.html"')
      script(type="text/javascript").
       window.user = !{user};
    include includes/foot-b3
    script(type='text/javascript', src='/lib/fabric.js/dist/all.js')
    script(type='text/javascript', src='/lib/casino/casinocontroller.js')
    script(type='text/javascript', src='/lib/casino/casinorender.js')
    script(type='text/javascript', src='/lib/casino/pokerevents.js')
    script(type='text/javascript', src='/lib/casino/poker_hand_history.js')
    script(type='text/javascript', src='/lib/casino/roomrender.js')
    script(type='text/javascript', src='/lib/casino/slotroomrenderer.js')
